<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Academy</title>
  <!-- Installing Semnantic-UI -->
  <link rel="stylesheet" type="text/css" href="semantic/out/semantic.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="semantic/out/semantic.min.js"></script>

  <!-- Installing Custom CSS -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
  <script src="/javascripts/landing.js"></script>
</head>

<body>



  <div class="ui grid">

<!-- LEFT SIDE -->
    <div class="eight wide column first">
      <h1>Hi</h1>
    </div>

<!-- RIGHT SIDE -->
    <div class="eight wide column second">

<!-- LOGIN -->

      <div class="ui form">
        <div class="ui dividing header">Login</div>
        <div class="fields">
          <div class="field">
            <input type="text" placeholder="Email">
          </div>
          <div class="field">
            <input type="password" placeholder="Password">
          </div>
          <div class="field">
            <button class="ui button" type="submit">Submit</button>
          </div>
        </div>
      </div>

<!-- SIGN UP -->
  <div class="ui large header"> <p>Connecting With A New Crowd</p> <p>For A Better Purpose</p></div>

<div class="ui dividing header" id="sign">Join ... Today</div>

      <div class="ui two column grid">



        <div class="column">
          <form class="ui form">
            <div class="field">
              <label>Email</label>
              <input type="text" name="email" placeholder="Email">
            </div>
            <div class="field">
              <label>Password</label>
              <input type="password" name="password" placeholder="Password">
            </div>
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" tabindex="0" class="hidden">
                <label>I agree to the Terms and Conditions</label>
              </div>
            </div>
            <button class="ui button" type="submit">Get Started</button>
          </form>
        </div>

      </div>

    </div>
    </form>
  </div>




</body>

</html>
