<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Academy</title>
  <!-- Installing Semnantic-UI -->
  <link rel="stylesheet" type="text/css" href="semantic/out/semantic.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="semantic/out/semantic.min.js"></script>

  <!-- Installing Custom CSS -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
  <script src="/javascripts/landing.js"></script>

  <!-- Installing Custom Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic" rel="stylesheet">
</head>

<body>



  <div class="ui grid">


    <!-- LEFT SIDE -->
    <div class="nine wide column first">

      <!-- LIST -->
      <div class="ui list">

        <div class="item" id="top">
          <i class="book icon"></i> Find The Perfect Study Group
        </div>
        <div class="item">
          <i class="users icon"></i> Meet People Going Through Your Situation
        </div>
        <div class="item">
          <i class="expand icon"></i> Expand Your Network
        </div>

      </div>

    </div>

    <!-- RIGHT SIDE -->
    <div class="seven wide column second">

      <!-- LOGIN -->
      <form class="ui form" action="/login" method="post">
        <div class="ui dividing header">Login</div>
        <div class="fields">
          <div class="field">
            <input type="email" placeholder="Email" name="email">
          </div>
          <div class="field">
            <input type="password" placeholder="Password" name="password">
          </div>
          <div class="field">
            <button class="ui button" type="submit">Log in</button>
          </div>
        </div>
      </form>

      <!-- SIGN UP -->
      <div class="ui large header">
        <p>Connecting With A New Crowd</p>
        <p>For A Better Purpose</p>
      </div>

      <div class="ui dividing header" id="sign">Join ... Today</div>

      <div class="ui two column grid">



        <div class="column">
          <form class="ui form" action="/register" method="post">
            <div class="field">
              <label>Email</label>
              <input type="email" name="email" placeholder="Email">
            </div>
            <div class="field">
              <label>Password</label>
              <input type="password" name="password" placeholder="Password">
            </div>
            <button class="ui button" type="submit">Get Started</button>
          </form>
        </div>

      </div>

    </div>
    </form>
  </div>




</body>

</html>
